<div style="background-color: #f5f5f5; padding-bottom: 20px">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12" >
        <h3 style="padding-top: 1.5rem">{{title}}</h3>
        <div class="col-md-12 col-lg-12">
          <div style="padding: 1.5rem">
            <input class="form-control filter-term-mobile" type="text" placeholder="Filter the results..." aria-label="Search" [(ngModel)]="term">

          </div>
        </div>

<table class="table">
  <thead>
  <tr>
    <th *ngFor="let head of keys  | keyvalue " (click)="changeOrder(head.value)">{{head.value}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of finalData |filter:term | orderBy: order">
    <td *ngFor="let head of keys ; let i=index">{{data[keys[i]]}}</td>
  </tr>
  </tbody>
</table>


      </div>




    </div>



  </div>

</div>


